<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Kubekit - V0.1.0</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="description" content="">
	<meta name="keywords" content="">


	<!-- Base Css Files -->
	<link href="assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
	<link href="assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/libs/fontello/css/fontello.css" rel="stylesheet" />
	<link href="assets/libs/animate-css/animate.min.css" rel="stylesheet" />
	<link href="assets/libs/nifty-modal/css/component.css" rel="stylesheet" />
	<link href="assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
	<link href="assets/libs/ios7-switch/ios7-switch.css" rel="stylesheet" />
	<link href="assets/libs/pace/pace.css" rel="stylesheet" />
	<link href="assets/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
	<link href="assets/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="assets/libs/jquery-icheck/skins/all.css" rel="stylesheet" />

	<link href="assets/libs/toastr/toastr.min.css" rel="stylesheet" />
	<!-- Code Highlighter for Demo -->
	<link href="assets/libs/prettify/github.css" rel="stylesheet" />

	<!-- Extra CSS Libraries Start -->
	<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
	<!-- Extra CSS Libraries End -->
	<link href="assets/css/style-responsive.css" rel="stylesheet" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png" />
</head>

<body class="fixed-left">
	<div class="md-modal md-3d-flip-horizontal" id="md-add-node">
		<div class="md-content">
			<h3>添加节点</h3>
			<div>
				<form role="form" id="nodeForm">
					<div class="form-group">
						<label for="exampleInputEmail1">节点名称</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="name">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">内网IP</label>
						<input type="text" class="form-control" id="ip" name="ip" placeholder="example: 10.0.0.1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">SSH端口</label>
						<input type="text" class="form-control" id="port" name="port" placeholder="22">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">登录密码</label>
						<input type="text" class="form-control" id="password" name="password" placeholder="SSH登录密码">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">确认登录密码</label>
						<input type="text" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="再次确认SSH登录密码">
					</div>
					<button id="add-node" class="btn btn-default">添加</button>
					<button id="close-modal" class="btn btn-danger md-close">关闭</button>
				</form>
			</div>
		</div>
		<!-- End div .md-content -->
	</div>
	<div class="md-modal md-fade-in-scale-up" id="md-remove-node">
		<div class="md-content">
			<h3>移除节点</h3>
			<div>
				<button id="add-node" class="btn btn-default">添加</button>
				<button id="close-modal" class="btn btn-danger md-close">关闭</button>
			</div>
		</div>
		<!-- End div .md-content -->
	</div>
	<!-- Begin page -->
	<div id="wrapper">
		<!-- Top Bar Start -->
		<div class="topbar">
			<div class="topbar-left">
				<div class="logo">
					<h1><a href="#"><img src="assets/img/logo.png" alt="Logo"></a> <span>KubeKit</span></h1>
				</div>
				<button class="button-menu-mobile open-left">
        <i class="fa fa-bars"></i>
        </button>
			</div>
			<!-- Button mobile view to collapse sidebar menu -->
			<div class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-collapse2">
						<ul class="nav navbar-nav navbar-right top-navbar">
							<li class="dropdown iconify hide-phone"><a href="#" onclick="javascript:toggle_fullscreen()"><i class="icon-resize-full-2"></i></a></li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- Top Bar End -->
		<!-- Left Sidebar Start -->
		<div class="left side-menu">
			<div class="sidebar-inner slimscrollleft">
				<!--- Divider -->
				<div class="clearfix"></div>
				<hr class="divider" />
				<div class="clearfix"></div>
				<!--- Divider -->
				<div id="sidebar-menu">
					<ul>
						<li><a href='#' class="active"><i class='icon-home-3'></i><span>节点部署</span></a></li>
						<li><a href='#' class=""><i class='fa fa-cube'></i><span>应用部署</span></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- Left Sidebar End -->

		<!-- Start right content -->
		<div class="content-page">
			<!-- ============================================================== -->
			<!-- Start Content here -->
			<!-- ============================================================== -->
			<div class="content">
				<!-- Page Heading Start -->
				<div class="page-heading">
					<h1><i class='fa fa-server'></i> 节点部署</h1>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="widget">
							<div class="widget-header transparent">
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
								</div>
							</div>
							<div class="widget-content">
								<div class="data-table-toolbar">
									<div class="row">
										<div class="col-md-12">
											<div class="toolbar-btn-action">
												<a class="btn btn-success md-trigger" data-modal="md-add-node"><i class="fa fa-plus-circle"></i> 添加节点</a>
												<a class="btn btn-warning"><i class="fa fa-paper-plane"></i> 一键部署</a>
											</div>
										</div>
									</div>
								</div>

								<div class="table-responsive">
									<table data-sortable class="table table-hover table-striped">
										<thead>
											<tr>
												<th>节点选择</th>
												<th>节点名称</th>
												<th>内网IP</th>
												<th>SSH端口</th>
												<th>登录密码</th>
												<th>添加时间</th>
												<th>节点状态</th>
												<th data-sortable="false">节点信息</th>
												<th data-sortable="false">节点操作</th>
											</tr>
										</thead>

										<tbody>
											{{ range .Nodes }}
											<tr>
												<td><input id="{{ .ID }}" type="checkbox" class="rows-check" onclick="checkboxChanged('{{ .ID }}')"></td>
												<td><strong>{{ .Name }}</strong></td>
												<td>{{ .IP }}</td>
												<td>{{ .Port }}</td>
												<td>{{ .Password }}</td>
												<td>{{ .CreatedAt }}</td>
												{{ if eq .Status 0}}
												<td><span class="label label-default">已添加</span></td>
												{{ else if .Satus 1}}
												<td><span class="label label-danger">无法连接</span></td>
												{{ else if .Satus 2}}
												<td><span class="label label-warning">待部署</span></td>
												{{ else if .Satus 3}}
												<td><span class="label label-info">部署中</span></td>
												{{ else if .Satus 4}}
												<td><span class="label label-success">已部署</span></td>
												{{ end }}
												<td></td>
												<td>
													<div class="btn-group btn-group-xs">
														<a data-toggle="tooltip" title="刷新" class="btn btn-default md-trigger" data-modal="md-remove-node" onclick="refreshNode('{{ .ID }}')"><i class="fa fa-refresh"></i></a>
														<a data-toggle="tooltip" title="移除" class="btn btn-default" data-modal="md-remove-node" onclick="removeNode('{{ .ID }}')"><i class="fa fa-trash"></i></a>
													</div>
												</td>
											</tr>
											{{ end }}
										</tbody>
									</table>
								</div>

								<!-- <div class="data-table-toolbar">
									<ul class="pagination">
									  <li class="disabled"><a href="#">&laquo;</a></li>
									  <li class="active"><a href="#">1</a></li>
									  <li><a href="#">2</a></li>
									  <li><a href="#">3</a></li>
									  <li><a href="#">4</a></li>
									  <li><a href="#">5</a></li>
									  <li><a href="#">&raquo;</a></li>
									</ul>
								</div> -->
							</div>
						</div>
					</div>
					<!-- Footer Start -->
					<footer>
						OrientSoft &copy; 2017
						<div class="footer-links pull-right">
							<a href="#">About</a><a href="#">Support</a>
						</div>
					</footer>
					<!-- Footer End -->
				</div>
			</div>
			<!-- End right content -->
		</div>
	</div>
	<!-- End of page -->
	<!-- the overlay modal element -->
	<div class="md-overlay"></div>
	<!-- End of eoverlay modal -->
	<script>
		var resizefunc = [];
	</script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="assets/libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
	<script src="assets/libs/jquery-detectmobile/detect.js"></script>
	<script src="assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
	<script src="assets/libs/ios7-switch/ios7.switch.js"></script>
	<script src="assets/libs/fastclick/fastclick.js"></script>
	<script src="assets/libs/jquery-blockui/jquery.blockUI.js"></script>
	<script src="assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
	<script src="assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
	<script src="assets/libs/nifty-modal/js/classie.js"></script>
	<script src="assets/libs/nifty-modal/js/modalEffects.js"></script>
	<script src="assets/libs/sortable/sortable.min.js"></script>
	<script src="assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
	<script src="assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="assets/libs/bootstrap-select2/select2.min.js"></script>
	<script src="assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="assets/libs/pace/pace.min.js"></script>
	<script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="assets/libs/jquery-icheck/icheck.min.js"></script>
	<script src="assets/libs/bootstrap-validator/js/bootstrapValidator.min.js"></script>
	<script src="assets/libs/axios/axios.min.js"></script>

	<!-- notify library -->
	<script src="assets/libs/toastr/toastr.min.js"></script>

	<!-- Demo Specific JS Libraries -->
	<script src="assets/libs/prettify/prettify.js"></script>
	<script src="assets/js/init.js"></script>
	<script src="assets/js/pages/index.js"></script>
</body>

</html>