<script>
logform_title = '{{ t "logform.title" }}';
logform_origin = '{{ t "logform.origin" }}';
logform_failed = '{{ t "logform.failed" }}';

nodeform_invalid_name = '{{ t "nodeform.regex" }}';
nodeform_empty_name = '{{ t "nodeform.empty_name" }}';
nodeform_name_length = '{{ t "nodeform.name_length" }}';
nodeform_name_regex = '{{ t "nodeform.regex" }}';
nodeform_empty_ip = '{{ t "nodeform.empty_ip" }}';
nodeform_invalid_ip= '{{ t "nodeform.invalid_ip" }}';
nodeform_empty_password = '{{ t "nodeform.empty_password" }}';
nodeform_password_mismatch = '{{ t "nodeform.password_mismatch" }}';
nodeform_empty_port = '{{ t "nodeform.empty_port" }}';
nodeform_invalid_port = '{{ t "nodeform.invalid_port" }}';
nodeform_success = '{{ t "nodeform.success" }}';
nodeform_failed = '{{ t "nodeform.failed" }}';
</script>
